body {
    background-color: #7C9082;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
}

.tabela {
    margin: 0 auto; /* centraliza */
    border: 3px solid #3A445D;

    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column; 
    align-items: center;
}

.home {
    padding: 20px;
}

.home:hover {
    color: white;
    transform: scale(1.1);
}

.home a {
    padding: 10px 10px;
    border-radius: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
}