body {
    font-family: Trebuchet MS, sans serif;
    background-color: #7c9082;      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
} 


.tabela {
    font-family: Arial;
    background-color:white; 
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.topo {
    text-align: center;
    padding: 10px;
}

.menu {
    display: flex;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}

.menu a:last-child {
    border-right: none;
}

.formulario {
    padding: 5px;
}


input, select {
    width: 200px;
}
.btn {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    color: aquamarine;
    border: none;
    cursor: pointer;
    transition: 0.2s;

}

.btn:hover {
    color: white;
    transform: scale(1.05);
}