 body {
    font-family: Trebuchet MS, sans serif;
    background-color: #7c9082;      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
} 

.menu {
    display: flex;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}

.menu a:last-child {
    border-right: none;
}

.treino {
    font-size: 15px;
    padding: 20px;
}

.tabela {
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.aluno {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.nome {
    text-align: center;  
    padding: 20px;
    font-size: 20px;
}

.data {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.intensidade {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.observacao {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.cadastro {
    background: black;
    color: #FFFAFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.cadastro:hover {
    transform: scale(1.15);
    color: #7058C6;
}

.submit {
    text-align: center;                
    padding: 10px;
}

.voltar {
=======
.add a {
    display: inline-block;
    background-color: black;
    color: white;
>>>>>>> 340dc0afc3e10126f5fd8086cd4d3144133e40aa
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.5s ease;
}

.add a:hover {
    transform: scale(1.05);
}

