body {
    font-family: Trebuchet MS, sans serif;
    background-color: #7c9082;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 35px;
}

.aluno {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.nome {
    text-align: center;  
    padding: 20px;
    font-size: 20px;
}

.data {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.intensidade {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.observacao {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.cadastro {
    background: black;
    color: #FFFAFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.cadastro:hover {
    transform: scale(1.15);
    color: #7058C6;
}

.submit {
    text-align: center;                
    padding: 10px;
}

.voltar {
    text-decoration: none;
    padding: 10px;
}

.voltar:hover {
    transform: scale(1.15);
}
