 body {
    font-family: Trebuchet MS, sans serif;
    background-color: #7c9082;      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
} 

.menu {
    display: flex;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.menu a {
    flex: 1;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}

.menu a:last-child {
    border-right: none;
}

.conteudo {
    text-align: center;
    font-size: 25px;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 140px;
    padding-bottom: 140px;
    border: 4px solid black;
    background-image: url("imagens/Academia-index.jpg");
}

p {
    color: #FFFAFF;
    font-size: 30px;
}
































