 body {
    background-color:#7c9082;
    font-family: Trebuchet MS, sans-serif;
} 

.tabela {
    font-family: Trebuchet MS, sans-serif;
    background-color:#FFFAFF; 
    width: 800px;
    margin: auto;
    border: 2px solid black;
}

.topo {
    border-bottom: 2px solid black;
    text-align: center;
    padding: 10px;
}

.menu {
    border-bottom: 2px solid black;
    padding: 10px;
    text-align: center;
}

.menu a {
    margin: 60px;
    padding:10px 15px;
    border-radius: 20px;
    background-color: black;
    text-decoration: none;
    color:#FFFAFF;
}
.menu a:hover {
    color:#7058C6;
    transform:scale(1.05);
}

.conteudo {
    display: flex;
}

.box {
    width: 50%;
    border-right: 2px solid black;
    padding: 10px;
}

.box:last-child {
    border-right: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}