body {
    font-family: Trebuchet MS, sans serif;
    background-color: #7c9082;      
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabela {
    width: 400px;
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    padding: 10px;
    flex-direction: column; 
    align-items: center;
}
.esqueci{
    margin-top: 15px;
}

.redefinir {
    color: black;
    font-size: 15px;
    text-align: center;
}

.campo {
    margin-bottom: 15px;
    text-align: left;
}

input {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: black;
}

.link:hover {
    transform: scale(1.15);
}

.link {
    margin-top: 40px;
    text-align: center;
}
.link-1 {
    text-decoration: none;
    background: black;
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
}

.voltar {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}